<% include ./partials/header %>

<div class="container">
    <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Wins</th>
            <th scope="col">Draws</th>
            <th scope="col">Losses</th>
          </tr>
        </thead>
        <tbody>
          <% players.forEach(function(player, i){ %>
            <tr onclick="window.location='https://eosmonitor.io/account/<%= player.player %>'">
                <th scope="row"><%= i + 1 %></th>
                <td><%= player.player.username %></a></td>
                <td><%= player.wins %></td> 
                <td><%= player.draws %></td> 
                <td><%= player.losses %></td> 
            </tr>
          <% }); %>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>